beautifulsoup4==4.12.2

cohere==5.11.0

groq==0.10.0

huggingface-hub==0.23.4

langchain
langchain-cohere
langchain-community
langchain-experimental
langchain-groq
langchain-huggingface
langchain-text-splitters

pypdf==4.3.1
PyPDF2==3.0.1
python-dotenv==1.0.1
python-youtube==0.9.6
pytube==15.0.0

regex==2023.10.3
requests==2.32.3

streamlit==1.39.0

tensorflow==2.16.1
transformers==4.45.2

youtube-search-python==1.6.6
youtube-transcript-api==0.6.2
yt-dlp==2024.8.6

